
{{ include('components/form/header.html.twig', {params: {target: '/plugins/tender/front/financialItem.form.php'}}) }}
{% import 'components/form/fields_macros.html.twig' as fields %}  
<div class="card-body d-flex flex-wrap">
   <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
      <hr />
      {{ include('@tender/components/table.html.twig') }}
   </div>
</div>
